<% layout('layout/page') %>

<!-- Wrap all page content here -->
<section class="container">
    
    <h1>Bootstrap starter template with sticky footer</h1>
    <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

    
</section> 
