<% layout('layout/page') %>

<section class="container">
    
    <h3>Simplex Method</h3>
    <p><a href="http://en.wikipedia.org/wiki/Simplex_algorithm" target="_blank">About Simplex Method</a></p>

    <p>User Input in Progress...</p>

    <form role="form" action="/simplexMethod/calculate" method="POST" class="matrixForm">
		<button type="submit" class="btn btn-default">Calculate</button>
	</form>
    
</section> 
